<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invalid Input</title>
</head>
<body>
    <form action="http://127.0.0.1:8080">
            <input type="submit" name="send" value="Homepage" />
    </form>
    <p>The input is either not present in the database or is incorrect. Please try again.</p>
    <form action="http://127.0.0.1:8080/SentenceListDiseaseUser">
            <input type="submit" name="send" value="Go back" />
    </form>
</body>
</html>